.sideBar-year {
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
}

.sideBar-month {
  text-align: center;
  cursor: pointer;
  
}
a {   
    color: rgb(124, 124, 124);   
}
a:focus{
    color: rgb(255, 0, 0);
    /* font-size: larger; */
}

/* a:active {
    color: blue;
} */

a[tabindex]:focus {
}