.back-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "grid-back-top-left grid-back-center grid-back-top-right"
    "grid-back-bottom-left grid-back-center grid-back-bottom-right";

  border-right: var(--border);
  border-top: var(--border);
  height: calc(var(--height) * 1.7);
}
.back-header > div {
  border-left: var(--border);
  border-bottom: var(--border);
  font-size: large;
  text-align: center !important;
  justify-items: center;

  align-items: center;
  display: grid;
}

.grid-back-center {
  grid-area: grid-back-center;
  font-size: xxx-large !important;
  font-family: ch  !important;
  
}

.grid-back-top-right {
  grid-area: grid-back-top-right;
  font-family: ch !important;
}

.grid-back-bottom-right {
  grid-area: grid-back-bottom-right;
}

.grid-back-bottom-left {
  grid-area: grid-back-bottom-left;
  font-size: var(--font-front-mean-hanja-name-size) !important;
}

.grid-back-top-left {
  grid-area: grid-back-top-left;
  font-size: var(--font-front-mean-hanja-name-size) !important;
}

.q1, .q2, .q3{
  height: 110px;
  
}
.youth-y1, .youth-y2 {
  height: 190px;
}
 .adult-y1{
  height: 390px;
}
.child-y1{
  height: 410px;
}
.back-child-yojeol-title{
  margin-bottom: 10px;
}
.line1{
  /* height: 40px;
  margin-top: 20px; */
  
}
.line{
  /* display: grid;
  grid-template-columns: 1fr 50fr ;
  grid-template-rows: 1fr;
  text-align: start;
  align-items: center; */
color: transparent;

}
li{
  border-bottom: var(--border);
  margin-right: 10px;
}
ol{
  margin-left: 30px;
  padding: 0px;
}
.line1{
  margin-top: 10px;
}
.line3, .line2{
  margin-top: 60px !important;
}


.back-yojeol-where{
  text-align: end;
  margin-right: 20px;
}
.back-yojeol-where::before, .child-yojeol-where::before{
  content: "(" ;
  color: black;
}
.back-yojeol-where::after, .child-yojeol-where::after{
  content: ')';
  color: black;
  ;
}
.yojeol-title::before,.back-bottom-title::before,.back-child-yojeol-title::before{
  content: "<" ;
  color: black;
}
.yojeol-title::after, .back-bottom-title::after,.back-child-yojeol-title::after{
  content: ">" ;
  color: black;
}
.back-bottom-title span{
  font-size: xx-large;

}
.child-yojeol-where{
  text-align: end;
}
.back-yojeol-where{
  margin-right: var(--marign-20);
  margin-top: var(--marign-20);
  font-size: var(--font-norm-size);
}
.adult-y1{

  height: 300px;
}
.back-bottom {
  /* position: relative; */
  /* height: 260px; */
  /* height: 20%; */
  /* flex: 1; */
  height: 290px;
  padding-top: var(--marign-20);
  font-size: var(--font-norm-size);
}

.back-bottom1{

  height: 240px !important;
}


.back-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.back-content > div {
  border-top: var(--border);
  border-left: var(--border);
  border-right: var(--border);
  /* flex: 1; */
}

.back-text{
  margin: var(--marign-20);
  font-size: var(--font-norm-size);
}
.back-last-answer{
  font-size: 19px;
}
.yojeol-title{
  margin-top: var(--marign-20);
  margin-left: var(--marign-20);
  font-size: var(--font-norm-size);
}
.text{
  margin-top: 7px;
  margin-bottom: 7px;
}
.back-adult-where{
  margin-top: 50px;
  color: transparent;
}
.back-bottom{
  display: flex;
  flex-direction: column;
  border-bottom: var(--border);
}
.back-bottom-hanja-container{
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr 1fr;
  margin: var(--back-bottom-hanja-container);
}
.back-bottom-hanja-container > div{
  font-size: xx-large;
  text-align: center;
  margin-top: var(--back-bottom-hanja-container);
  margin-left: var(--back-bottom-hanja-container);
  margin-right: var(--back-bottom-hanja-container);
  flex-grow: 1; 

}
.bracket{
  color:transparent;
}
.bottom-hanja-kr{
  display: contents;
  white-space: pre;
}
.back-bottom-hanja{
}
.back-bottom-where{
  text-align: end;
  flex-grow: 1;
}
.back-title-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: var(--marign-20);
  margin-right: var(--marign-20);
}

.q-answer::after{
  content: "-";
}
.q-answer{
  margin-top: var(--marign-20);
  margin-left: var(--marign-20);
}
