.back-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "grid-back-top-left grid-back-center grid-back-top-right"
    "grid-back-bottom-left grid-back-center grid-back-bottom-right";

  border-right: var(--border);
  border-top: var(--border);
  height: calc(var(--height) * 1.7);
}
.back-header > div {
  border-left: var(--border);
  border-bottom: var(--border);
  font-size: large;
  font-family: 'hanja0';
  text-align: center !important;
  justify-items: center;

  align-items: center;
  display: grid;
}

.grid-back-center {
  grid-area: grid-back-center;
  font-size: xxx-large !important;
  
}

.grid-back-top-right {
  grid-area: grid-back-top-right;
}

.grid-back-bottom-right {
  grid-area: grid-back-bottom-right;
}

.grid-back-bottom-left {
  grid-area: grid-back-bottom-left;
}

.grid-back-top-left {
  grid-area: grid-back-top-left;
}

.q1, .q2, .q3{
  height: 110px;
  
}
.youth-y1, .youth-y2 {
  height: 190px;
}
.child-y1, .adult-y1{
  height: 390px;
}
.line1{
  /* height: 40px;
  margin-top: 20px; */
  
}
.line{
  /* display: grid;
  grid-template-columns: 1fr 50fr ;
  grid-template-rows: 1fr;
  text-align: start;
  align-items: center; */
color: transparent;

}
li{
  border-bottom: var(--border);
  margin-right: 10px;
}
ol{
  margin-left: 10px;
  padding: 0px;
}
.line1{
  margin-top: 10px;
}
.line3, .line2{
  margin-top: 70px !important;
}


.back-yojeol-where{
  text-align: end;
  margin-right: 20px;
}
.back-yojeol-where::before{
  content: "(" ;
  color: black;
}
.back-yojeol-where::after{
  content: ')';
  color: black;
  ;
}
.yojeol-title::before,.back-bottom-title::before{
  content: "<" ;
  color: black;
}
.yojeol-title::after, .back-bottom-title::after{
  content: ">" ;
  color: black;
}
.back-bottom-title span{
  font-size: xx-large;

}
.back-yojeol-where{
  margin-right: 20px;
  margin-top: 20px;
  font-size: var(--font-norm-size);
}
.adult-y1{

  height: 300px;
}
.back-bottom {
  /* position: relative; */
  /* height: 260px; */
  /* height: 20%; */
  /* flex: 1; */
  height: 270px;
  padding-top: 20px;
  font-size: var(--font-norm-size);
}

.back-bottom1{

  height: 250px !important;
}


.back-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.back-content > div {
  border-top: var(--border);
  border-left: var(--border);
  border-right: var(--border);
  /* flex: 1; */
}

.back-text{
  margin: 20px;
  font-size: var(--font-norm-size);
}
.yojeol-title{
  margin-top: 20px;
  margin-left: 20px;
  font-size: var(--font-norm-size);
}
.text{
  margin-top: 7px;
  margin-bottom: 7px;
}
.back-adult-where{
  margin-top: 50px;
}
.back-bottom{
  display: flex;
  flex-direction: column;
  border-bottom: var(--border);
}
.back-bottom-hanja-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr 1fr;
  margin-top: 10px;
}
.back-bottom-hanja-container > div{
  display: grid;
  font-size: xx-large;
  text-align: center;
  margin-top: 10px;
  
}
.back-bottom-where{
  width: max-content;
  text-align: end;
  flex-grow: 1;
}
.back-title-container{
  display: grid;
  grid-template-columns: 1.5fr 0.5fr  1fr 1fr;
  margin-left: 20px;
  margin-right: 20px;
}

.q-answer::after{
  content: "-";
}
.q-answer{
  margin-top: 20px;
  margin-left: 20px;
}
