@font-face {
  font-family: "hy";
  src: url(../font/assets/UNI_HSR.eot);
  src: url(../font/assets/UNI_HSR.eot?#iefix) format("embedded-opentype"),
    url(../font/assets/UNI_HSR.woff2) format("woff2"),
    url(../font/assets/UNI_HSR.woff) format("woff"),
    url(../font/assets/UNI_HSR.ttf) format("truetype"),
    url(../font/assets/UNI_HSR.svg#UNI_HSR) format("svg");
}
