table,
td,
th {
  border: var(--border);
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  padding: 3px;
  width: 30px;
  height: 20px;
}

/* body,
html {
  width: 210mm ; 
  height: 297mm ;
} */
@media print {
  html,
  body {
    width: 210mm; 
    height: 297mm;
  }
  .a4 {
    /* color: blue !important; */
  }
  td,
  th {
    /* border: blue solid 1px; */
  }
  /* ... the rest of the rules ... */
}

img {
  max-width: 100%;
  max-height: 100%;
  height: var(--height-write-hanja);
}

.a4 {
  size: A4 portrait;
  /* margin: 0; */
  background: white;
  width: 210mm; /*793px*/
  height: 297mm;
  display: block;
  margin: 0 auto 2cm;
  /* margin-bottom: 5.0cm; */
  /* box-sizing: border-box; */
  page-break-after: always;
}
#word-table {
  height: 5%;
  margin-top: var(--margin-top);
}
#word-table tr {
  height: 50px;
}
#stroke-table {
  height: 20%;
  margin-top: var(--margin-top);
}
#stroke-table tr {
  height: 60px;
}

.bottom-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: var(--margin-top);
}
.bottom-table tr {
  height: var(--height-write-hanja);
}
.bottom-table tr:nth-of-type(2) {
  height: var(--height-write-hanja-name);
}
.bottom-table tr:nth-of-type(4) {
  height: var(--height-write-hanja-name);
}
.bottom-left {
  margin-right: 1.5px;
}
.bottom-right {
  margin-left: 1.5px;
}

/* .hanja-big{
  position: relative;
} */
.follow {
  color: rgba(0, 0, 0, 0.103) !important;
  /* color: transparent !important */
}
.follow-ch {
  color: transparent;
}
.hanja-big td {
  font-size: 70px;
  text-align: center;
  position: relative;
  /* height: var(--height-write-hanja); */
  width: var(--height-write-hanja);
  /* line-height: var(--height-write-hanja); */
}
.grid-hanja0 {
  position: relative;
  display: grid;
  align-items: center;
  padding-bottom: 10px;
}
.total-stroke {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: large !important;
}

