.top {
  display: grid;
  grid-template-columns: 1f 1f 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;

  grid-template-areas:
    "grid-000 grid-000 grid-001 grid-001 grid-001 grid-001 grid-001 grid-002 grid-002 grid-002 grid-002 grid-002 grid-002 grid-002 grid-002 grid-002"
    "grid-010 grid-010 grid-010 grid-010 grid-010 grid-010 grid-011 grid-012 grid-012 grid-012 grid-012 grid-012 grid-012 grid-012 grid-012 grid-012";
}
.top {
  border-top: var(--border);
  border-left: var(--border);
}
.top > div {
  height: calc(var(--height) + 13px);
  border-bottom: var(--border);
  border-right: var(--border);
  align-items: center;
  line-height: calc(var(--height) + 13px);
}

.top-item {
  text-align: center;
  letter-spacing: 2px;
  font-size: var(--font-front-top);
}
.grid-000 {
  grid-area: grid-000;
}
.grid-001 {
  grid-area: grid-001;
  font-size: xxx-large;
}

.grid-002 {
  grid-area: grid-002;
}

.grid-011 {
  grid-area: grid-011;
}

.grid-012 {
  grid-area: grid-012;
}

.grid-010 {
  grid-area: grid-010;
  text-align: start;
  padding-left: 1em;
}
