:root
{
    --height: 50px;
    --margin-top:3px;
    --border:rgb(0, 26, 255) solid 1px;
    --height-stroke: 45px;
    --height-write-hanja: 85px;
    --height-write-hanja-name:10px;

    --font-norm-size:x-large;
    --font-title-size:xxx-large;


    --font-family:"hanja0";

}