:root
{
    --height: 50px;
    --margin-top:3px;
    --border:black solid 1px;
    --height-stroke: 45px;
    --height-write-hanja: 80px;
    --height-write-hanja-name:10px;

    --font-small-size:large;
    --font-norm-size:x-large;
    --font-title-size:xxx-large;


    --font-family:"hanja0";

    --back-margin-top:10px;
}