:root
{
    --height: 50px;
    --margin-top:3px;
    --border:black solid 1px;
    --height-stroke: 45px;
    --height-write-hanja: 88px;
    --height-write-hanja-name:10px;

    --font-small-size:13px;
    --font-small-hanja-size:20px;
    --font-norm-size:22px;
    --font-title-size:xxx-large;

    --font-front-mean-hanja-name-size:16px;

    --font-front-top:18px;

    --font-family:kr1;
    /* --font-family: 'Nanum Myeongjo', serif; */
    --marign-20:20px;

    --back-bottom-hanja-container:10px;

    

    --back-margin-top:10px;
}
@font-face {
    font-family: 'kr1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: lighter !important;
    font-style: normal;
}