.write_voca_total_container {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  margin-top: var(--margin-top);
  border-right: var(--border);
  border-left: var(--border);
  border-top: var(--border);
  /* border-bottom: var(--border); */
}
.write_voca_container {
  display: flex;
  align-items: center;

  border-bottom: var(--border);
}

.write_voca_total_container3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr;
}
.write_voca_total_container3_12 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr;
}
.write_voca_total_container4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr;
}
.four_len_voca_write {
  border-bottom: var(--border);
  /* border-right: var(--border);
  border-left: var(--border); */
  color: transparent;
  font-size: xx-large;
}

.write_voca_mean {
  font-size: xx-large;
  color: transparent;
}

.voca_hanja_unit {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "voca_hanja"
    "voca_mean_sound_unit";
  border-right: var(--border);
}

.voca_hanja {
  grid-area: voca_hanja;
  font-size: xx-large;
  text-align: center;
  width: auto;
  display: grid;
  grid-area: span;
  border-bottom: var(--border);
}
.voca_mean_sound_unit {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 2fr;
  /* grid-template-rows: 1fr; */
  /* gap: 0px 0px; */
  grid-template-areas: "voca_mean_key voca_mean_value voca_sound_key  vocal_sound_value";
  /* align-items: center; */
}

.voca_mean_key {
  display: grid;
  grid-auto-flow: dense;
  grid-area: voca_mean_key;
  /* border-bottom: var(--border); */
  align-items: center;
}

.voca_sound_key {
  display: grid;
  grid-area: voca_sound_key;
  /* border-bottom: var(--border); */
  border-left: var(--border);
  align-items: center;
}

.voca_mean_value {
  grid-area: voca_mean_value;
  color: transparent;
  border-left: var(--border);
}

.vocal_sound_value {
  grid-area: vocal_sound_value;
  border-left: var(--border);
  color: transparent;
}
