.App {
  display: table;
  width: 100vw;
  /* grid-template-rows: auto auto; */
}

.sideBar {
  display: table-cell;
  overflow: scroll;
  position:fixed;
  /* flex: auto auto; */
  height: 100vh;
  float: right;
  
  width: 10%;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.sideBar::-webkit-scrollbar{
  display: none;
}
@media screen and (max-width: 600px) {
  .App{
    display: grid;
  }
  .sideBar {
    
    position: relative;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
  }
  .sideBar-year{
    padding-left: 1em;
  }
  .sideBar-month{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
  }
}

.contents {
  width: 90%;
  /* height: 100%; */
  float: right;
  font-size: var(--font-norm-size);
}

body {
  height: 100vh;
  width: 100%;
  
}

.hanja {
  /* font-family: 'hanja0'; */
  font-family: 'hanja0';
}
@font-face {
  font-family: 'han';
  src: url('view/font/UNI_HSR.TTF');
}

@font-face {
  font-family: 'hanja0';
  src: url('view/font/cwTeXQKai-Medium.ttf');
}
@font-face {
  font-family: 'hanja1';
  src: url('view/font/cwTeXQKaiZH-Medium.ttf');
}

@font-face {
  font-family: 'hanja2';
  src: url('view/font/cwTeXQMingZH-Medium.ttf');
}
